*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#body{
    overflow-x: hidden;
    background-color: white; 
    
}

header{
    background-color: black;
    position: fixed;
}
li{
    list-style-type: none;
}
.navbar{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid red;
}
.nav-link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 2rem;
}
.nav-link:hover{
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.bar {
    height: 4px;
    width: 30px;
    background-color: white;
    margin-bottom: 4px;
    border-radius: 5px;
    transition: all 0.5s;
}
div + .bar:not(:last-child){
    width: 20px;
    height: 4px;
    background-color: white;
}
.hamcontainer{
    display: none;
    cursor: pointer;
}
.animate .bar1 {
    transform: rotate(45deg) translateY(11px);
}
.animate .bar2 {
    transform: translatex(70%);
    opacity: 0;
}
.animate .bar3 {
    transform: rotate(-45deg) translateY(-12px);
}
.image{
    width: 100%;
    height: 450px;
    background-color: rgb(236, 230, 230);
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}
.card{
    width: 900px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item{
    width: 400px;
    height: 400px;
    background-color:  rgb(205, 200, 200);
}
.jewels{
    width: 350px;
    height: 300px;
    border: 2px solid rgb(205, 200, 200);
    margin: 1rem;
}
.product{
    display: flex;
    padding: 3rem;
}
.our-item{
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: rgb(225, 214, 214);
    padding: 2rem;
}
h1{
    text-align: center;
    font: 700 3rem/1 'san serif';
    text-transform: capitalize;
}
p{
    text-align: center;
    font: 600 1.5rem/1 'monospace';
    padding: 1rem;
}
#necklace{
    width: 100%;
    height: auto;
    background-color: rgb(221, 207, 207);
    padding: 2rem;

}
.neck_lace{
    display: flex;
}
img{
    width: 400px;
    height: 300px;
    border: 10px solid rgb(192, 186, 186);
    margin: 1rem;
}
.neck_lace2{
    display: flex;
}
#rings{
    width: 100%;
    height: auto;
    background-color: rgb(221, 207, 207);
    padding: 2rem;
}
.earings{
    display: flex;
}
.myslides{
    display: flex;
}
.slideshow{
    vertical-align: middle;
    width: 300px;
    height: 300px;
}
.slide_container{
    max-width: 100%;
    height: auto;
    position: relative;
    display: flex;
    background-color: rgb(221, 234, 246);
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -22px;
    color: black;
    font-weight: 800;
    background-color: rgba(255, 0, 0, 0.542);
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.283);
}
.caption{
    color: white;
    background-color: rgba(255, 0, 0, 0.784);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px; 
    text-align: center;
}
.number{
    color: white;
    font-size: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{opacity: 0.4} to{opacity: 1}
}

@media screen and (max-width: 768px) {
.hamcontainer{
    display: block;
}
.nav-menu{
    position: fixed;
    left: -800px;
    top: 100px;
    gap: 0;
    flex-direction: column;
    width: 100vw;
    height: 200px;
    text-align: center;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.628);
    padding: 2rem;
}
.nav-menu.animate{
    left: 0px;
}
.navbar{
    padding-left: 2rem;
    padding-right: 2rem;
}
.nav-link{
    padding-right: 0;
}
.card{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}h1{
    font: 600 2rem/1 'san serif';
}
.product{
    display: block;
    padding: 1rem;
}
.item{
    width: 280px;
    height: 300px;
}
.jewels{
    width: 250px;
    height: 200px;
    margin: 1rem;
}
.our-item{
    background-color: rgb(225, 214, 214);
    padding: 1rem;
}
.neck_lace{
    display: block;
}
.neck_lace2{
    display: block;
}
img{
    width: 250px;
    height: 200px; 
}
.prev, .next{
    font-size: 30px;
}
.caption{
    font-size: 12px;
}
}